{% extends "home/base.html" %}
{% block content %}

		<!-- START SECTION TOP -->
		<section class="section-top">
			<div class="container">
				<div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <form method="post">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Username</label>
                                <input type="text" name="username" class="form-control" id="userfield" aria-describedby="emailHelp">
                            </div>
                             <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Mail</label>
                                <input type="text" name="mail" class="form-control" id="mailfield" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" id="swapBtn" class="btn btn-primary">Submit</button>
                        </form></div>            
                    <div class="col-lg-4"></div>
                </div>
                
			</div><!--- END CONTAINER -->		
		</section>
		<!-- END COURSE -->		
		<!-- <script>
            const btn = document.getElementById('swapBtn');
            const field1 = document.getElementById('userfield');
            const field2 = document.getElementById('mailfield');

            btn.addEventListener('click', function(event) {
            event.preventDefault(); // Prevents form submission and page reload

            // Toggle the display property
            if (field1.style.display === 'none') {
                field1.style.display = 'block';
                field2.style.display = 'none';
            } else {
                field1.style.display = 'none';
                field2.style.display = 'block';
            }
            });



        </script> -->
{% endblock %}

